/**
 * SETTINGS
 */
$row-width: 1230px !default;
$rem-base: 16px !default;
$base-font-size: 100% !default;
$base-line-height: 1.5 !default;

$colors: (
    cta: #043643,
    //cta: #ffde00,
    dark: #333,
    light: #f9faf4,
    score: #e2c340,
    font: (
        default: #333,
        inverted: #f9faf4,
        nav: #a7a7a7,
        postMeta: #999,
    ),
    solarized: (
        'bg': (
            'default': #043643,
            'secondary': #002b37,
            'light': #eee8d4,
        ),
        'border': #eee8d4,
        'content': #829496,
        'split-comp': #b68a00,
        'complement': #cd4a00,
        'triad': #de3027,
        'tetrad': #d53182,
        'monotone': #1c89d5,
        'tetrad-green': #859a00,
    ),
    bg: (
        body: #fff,
        header: #fff,
        footer: #fff,
        box: rgba(#000, .7),
    ),
    social: (
        twitter: #069ff5,
        facebook: #39589a,
        xing: #005b60,
        youtube: #e92100,
        linkedin: #0075b8,
        mail: #a7a7a7,
        whatsapp: #39da4b,
    ),
    forms: (
        border: (
            'default': #d9d9d9,
            'selected': #1c89d5,
        ),
        bg: (
            'default': #fff,
            'selected': #fff,
        ),
        error: #e2001a,
        success: #009521,
        placeholder: #aeaeae,
    ),
    lines: #ededed,
);

$spacing: (
    button: (
        height: 40px,
        hpadding: 22px,
        vpadding: 15px,
    ),
    v: (
        large: 100px,
        medium: 80px,
        small: 40px,
        tiny: 20px,
    ),
    h: (
        medium: 30px,
        small: 15px,
        tiny: 7.5px,
    ),
    image: (
    ),
);

$font: (
    headingDefault: (
        size: 20px,
        line: 28px,
        weight: 500,
    ),
    headingLarge: (
        size: 36px,
        line: 48px,
    ),
    meta: (
        size: 13px,
        weight: 300,
    ),
    metaSmall: (
        size: 12px,
    ),
    focusText: (
        size: 18px,
    ),
    defaultText: (
        size: 16px,
        weight: 300,
        line: 24px,
    ),
);

$mq: (
    menu: 615,
    sidebar: 880,
    content: (
        small: 660,
        large: 850,
    ),
);

/**
 * FONTS
 */
$sans: Roboto, sans-serif;
$serif: Georgia, serif;
$body: $sans;
$heading: $sans;
$code: 'PT Mono', monospace;
