/**
 * SETTINGS
 */
$row-width: 1230px !default;
$rem-base: 16px !default;
$base-font-size: 100% !default;
$base-line-height: 1.5 !default;

$colors: (
    cta: #e2001a,
    dark: #333,
    light: #f9faf4,
    score: #e2c340,
    font: (
        default: #333,
        inverted: #f9faf4,
        nav: #a7a7a7,
        postMeta: #999,
    ),
    bg: (
        body: #f4f1e9,
        matchdays: #e0e1e2,
        odds: #dedbd3,
        selected: #787875,
        preHeader: #e2e3dd,
        footer: #e2e3dd,
        box: rgba(#000, .7),
    ),
    ranking: (
        even: #edeeef,
        odd: #f4f5f6,
        border: #e2e3dd,
        gold: rgba(242,215,50,1),
        silver: rgba(160,160,160,1),
        bronze: rgba(223,182,103,1),
    ),
    social: (
        twitter: #069ff5,
        facebook: #39589a,
        xing: #005b60,
        youtube: #e92100,
        linkedin: #0075b8,
        mail: #a7a7a7,
        whatsapp: #39da4b,
    ),
    forms: (
        border: #d9d9d9,
        bg: #fff,
        error: #e2001a,
        success: #009521,
        placeholder: #aeaeae,
    ),
    bet: (
        won: #009521,
        notWon: #e2001a,
    ),
    'rank': (
        'up': #009521,
        'down': #e2001a,
        'neutral': #3498db,
    ),
    lines: #ededed,
    fullWidth: #f2f2f2,
);

$spacing: (
    header: (
        nav: 32px,
        main: 100px,
    ),
    slider: (
        height: 550px,
        boxWidth: 570px,
    ),
    footer: (
        topNav: 80px,
        bottomNav: 94px,
    ),
    button: (
        height: 40px,
        hpadding: 22px,
        vpadding: 15px,
    ),
    v: (
        large: 100px,
        medium: 80px,
        small: 40px,
        tiny: 20px,
    ),
    h: (
        medium: 30px,
        small: 15px,
        tiny: 7px,
    ),
    image: (
        third: 19/37,
        half: 25/57,
    ),
    icon: 48px,
    iconBox: 80px,
    fullWidth: 190px,
);

$font: (
    headingDefault: (
        size: 20px,
        line: 28px,
        weight: 500,
    ),
    headingLarge: (
        size: 36px,
        line: 48px,
    ),
    headingSpecial: (
        size: 24px,
        weight: 500,
    ),
    meta: (
        size: 13px,
        weight: 300,
    ),
    metaSmall: (
        size: 12px,
    ),
    focusText: (
        size: 18px,
    ),
    defaultText: (
        size: 16px,
        weight: 300,
        line: 24px,
    ),
);

$mq: (
    sidebar: 880,
    content: (
        small: 660,
        large: 850,
    ),
);

/**
 * FONTS
 */
$sans: 'PT Sans Narrow', sans-serif;
$serif: Georgia, serif;
$body: $sans;
$heading: $sans;

/**
 * OTHER
 */

$adminbar: (
    default: 32px,
    mobile: 46px,
);

/**
 * PSEUDO MEDIA QUERIES
 */

$medium: 800px;
