$attendees: (
    'offset-top': 24px,
    'avatar': (
        'inner-width': 75px,
        'outer-width': 95px,
    ),
);

#tix-attendees { // override
    .tix-attendee {
        &-list {
            width: 100%;
            float: left;
            padding-left: 0;
            li {
                width: 100%;
                @include media(815) {
                    width: calc(50% - 10px);
                    &:nth-child(odd) {
                        margin-right: 20px;
                    }
                }
            }
        }
        &-name,
        &-twitter,
        &-url {
            border: 0;
            margin-left: map-get-deep($attendees, 'avatar', 'outer-width');
            width: calc(100% - #{map-get-deep($attendees, 'avatar', 'outer-width')});
            background-color: map-get-deep($colors, 'solarized', 'bg', 'light') !important;
        }
        &-name {
            @include code(1);
            &::before {
                margin-right: 0;
            }
            .tix {
                &-first {
                    color: map-get-deep($colors, 'solarized', 'complement');
                }
                &-last {
                    color: map-get-deep($colors, 'solarized', 'split-comp');
                }
            }
        }
        &-twitter {
            @include code(2);
            color: map-get-deep($colors, 'solarized', 'monotone');
            &:hover {
                color: map-get-deep($colors, 'solarized', 'tetrad-green');
            }
            & ~ .tix-attendee-url {
                @include code(3);
            }
        }
        &-url {
            @include code(2);
            &:hover {
                color: map-get-deep($colors, 'solarized', 'tetrad-green');
            }
        }
    }
    .avatar {
        width: map-get-deep($attendees, 'avatar', 'inner-width');
        height: map-get-deep($attendees, 'avatar', 'inner-width');
        border-radius: 50%;
    }
}
