.tix-info,
.tix-error,
.tix-notice {
    border-radius: 0;
    background-color: map-get-deep($colors, 'solarized', 'bg', 'default');
    font-size: 1rem;
}

.tix-info {
    color: map-get-deep($colors, 'solarized', 'tetrad-green');
    border-color: map-get-deep($colors, 'solarized', 'tetrad-green');
}

.tix-error {
    color: map-get-deep($colors, 'solarized', 'triad');
    border-color: map-get-deep($colors, 'solarized', 'triad');
}

.tix-notice {
    color: map-get-deep($colors, 'solarized', 'split-comp');
    border-color: map-get-deep($colors, 'solarized', 'split-comp');
}

.tix-order-summary,
.tix-ticket-form,
.tix_tickets_table {
    width: 100%;
    font: {
        size: 1.2rem;
    }
    margin-bottom: map-get-deep($spacing, 'v', 'small');
    thead {
        text-align: left;
    }
}

.tix-attendee-form {
    display: block;
    tbody,
    tr,
    td {
        display: block;
    }
    tr {
        margin-bottom: map-get-deep($spacing, 'h', 'small');
    }
    .tix-left,
    .tix-right {
        width: 100% !important;
        input,
        select,
        textarea {
            width: 100% !important;
        }
    }
    .tix-left, // this is the label
    label {
        line-height: 1.4;
        position: static;
        font: {
            size: 1rem !important;
            weight: 300 !important;
        }
        vertical-align: middle;
    }
    .tix-right {
        label {
            input[type="checkbox"],
            input[type="radio"] {
                display: inline-block;
                width: auto !important;
                margin-right: map-get-deep($spacing, 'h', 'small');
            }
        }
    }
}

#tix {
    input {
        &[type="submit"] {
            &:hover {
                color: map-get-deep($colors, 'solarized', 'triad');
            }
        }
    }
}
