// $row-width is globally defined in meta/variables
@mixin row($row-width: $row-width) {
    width: 100%;
    margin: {
        left: auto;
        right: auto;
    }
    max-width: rem-calc($row-width);
}
